PORT=4300
SESSION_TTL_HOURS=8
STAGING_DOMAIN=deployigo.nexuslink.co.in
LIVE_DOMAIN=deployigo.com
DEPLOY_TARGET_HOST=192.168.1.167
DEPLOY_TARGET_USER=root
DEPLOY_MODE=mock
DEPLOY_TARGET=remote-docker
DEPLOY_REMOTE_HOST=192.168.1.167
DEPLOY_REMOTE_USER=root
DEPLOY_REMOTE_BASE=/opt/deployigo/workspaces
DEPLOY_REMOTE_PORT_START=18080
DEPLOY_REMOTE_NETWORK=deployigo-staging
